<html>
    <body>
        <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
        <h1>学号：<%=sNumber%> 姓名：<%=sName%></h1>
        
        <h1>您的账号授权已过期，禁止继续使用</h1>
        <h2>请扫码付款，自助获取授权，截屏二维码后返回真机再扫码支付</h2>
        <h3>付款的时候请备注学号！！不要多付不要少付！</h3>
        <h3>5元：一周，15元：一月，30：一季，88：一年</h3>
        <h3>付款后一小时内后台会自动进行授权，如果急用请联系qq9479421加急</h3>
        <img style="width:100%;" src="https://wqby-1304194722.cos.ap-nanjing.myqcloud.com/img/mm_facetoface_collect_qrcode_1663819030648.png" alt="">
        <img style="width:100%;" src="https://wqby-1304194722.cos.ap-nanjing.myqcloud.com/img/1663819070700.jpg" alt="">
        
    </body>
</html>